<br>
         <h2 class="text-center"> User Details</h2>
         <br>
           <div class="row">
             <div class="col-sm-2"></div>
             <div class="col-sm-4">
         
                 <div class="search-hero">

                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" 
                    autocomplete="off" placeholder="Search" style="width: 50%;">&nbsp;
                    <span style="position:absolute; left:200px;top:10px;" class="fa fa-search "></span>

                  </div>
                 <table class="table table-bordered table-striped text-center">
                     <thead>
                     <tr>
                       <th >Id</th>
                       <th>FirstName</th>
                       <th>LastName</th>
                       <th>Email</th>
                       <th>Phone Num</th>
                       <th>Gender</th>
                       <th>Action</th>
                       <th>Edit</th>
                     </tr>
                   </thead>
                    <ng-container *ngFor="let user of users | filter:searchText|  paginate: { itemsPerPage: pageSize, currentPage: p }">
                     <tr >
                       <td>{{user.id}}</td>
                       <td>{{user.firstName}}</td>
                       <td>{{user.lastName}}</td>
                       <td>{{user.emailAddress}}</td>
                       <td>{{user.phonenumber}}</td>
                       <td>{{user.gender}}</td>
                       <td><button class="btn btn-danger"  [@rotates] = "state" (mouseover) = "rotates()" (click)="deleteUser(user)" id="one"> Delete</button></td>
                       <td><button class="btn btn-info"  [@rotate] = "state" (mouseover) = "rotate()" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button> </td>
                     </tr>
                   </ng-container>
                   </table>
                   <div class="row">
                     <div class="col-sm-11">
                       <pagination-controls (pageChange)="p = $event"></pagination-controls>
               
                     </div>
                     <div class="col-sm-1">
                       <select id="PerPage" (pageChange)="p = $event" [(ngModel)]="pageSize" >
                         <option [ngValue]="3">3</option>
                         <option [ngValue]="5">5</option>
                         <option [ngValue]="6">6</option>
                         <option [ngValue]="7">7</option>
                     </select>
                     </div>
               
             </div>
         
           </div>
         
             </div>
             
         
         